.venv/
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache/
.pytest_cache/
.nox/
.ipynb_checkpoints/
.mypy_cache/
__pycache__/
.pytype/
htmlcov/
.eggs/
dist/
build/
*.py[cod]
*.so
*.egg-info
*.egg
*.h5
*.ipynb
.DS_Store
.idea/
.vscode/
.env